@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
}
.wrapper{
    width: 100%;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: raleway;
    box-sizing: border-box;
    /* margin-top: -18em; */
}

.leftCtn{
    width:90%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.imgCtn{
    position: relative;
    overflow: hidden;
    height: 1000px;
}

.rightCtn{
    width:50%;
    height: 100vh;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.rTop{
    width:90%;
    height: 5%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: black;
    /* background-color: lightcoral; */
    /* background-color:green; */
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}

.rRating{
    margin: 0;
    width: 10%;
    height: 100%;
margin: 0;
box-sizing: border-box;
display: flex;
align-items: center;

}

/* .overallScore{
    width: 40%;
    margin: 0;
    box-sizing: border-box;
} */
.lRating{
    width: 80%;
    height: 100%;
}
.CircularProgressbar{
    position: relative;
    top: 0;
width: 40%;
margin: 0;
}
.CircularProgressbar-text {
    transform: translate(-15px, 5px);
}
.rating h4{
    width: 100%;
    font-size: x-small;
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.1px;
    font-weight: 600;
}

.rdesc{
    width:90%;
    height: 30%;
    margin: 5px;
    overflow: scroll;
    /* background-color: lightgoldenrodyellow; */
}
.rdesc::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.rRating{
    width: 90%;
    height:15%;
    margin: 5px;
    /* background-color: lightgreen; */
}

.rReact{
    width: 90%;
    height: 8%;
    margin: 5px;
    display: flex;
    align-items: center;
    /* background-color: lightsteelblue; */

}

.rComment{
    width: 90%;
    margin: 5px;
    padding: 5px;
    overflow-y: auto;
}

.rComment::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.uName, .time{
    margin: 1px;
}
.uName{
    color: black;

}

.time{
    color: grey;
}

.rRating .icons{
    margin-right: 25px;
}

.like{
    color: grey;
}

.like:hover{
    color: blue;
}

.comment{
    color: grey;
}

.comment:hover{
    color: blue;
}

