@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.wrapper{
    width: 94%;
    height: 380px;
    background-color: white;
    border: 1px solid;
    border-color: transparent;
    border-radius: 10px;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: raleway;
}

.left{
    width:45%;
    height: 360px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Tleft{
    width:100%;
    height: 16px;
    margin: 7px;
    overflow: hidden;
}

.Tleft h3{
    font-weight:300;
    font-size: 13px;
    margin: 0;
}

.Bleft{
    width:100%;
    height: 330px;
    background-color: rgba(170, 226, 250, 1);
    border-radius: 10px;
    overflow: hidden;
}

.right{
    width:50%;
    height: 360px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.rTop{
    width:100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: black;
    /* background-color:green; */
}

.rating{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: medium;
    font-weight: 400;
    margin: 5px;
}

.rCenter{
    width:100%;
    height: 200px;
    margin: 5px;
    box-sizing: border-box;
    overflow: scroll;
    padding-right:10px;
}
.rCenter::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.rBottom{
    width: 100%;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    top: 12px;
    display: flex;
    align-items: center;

}

.uName, .time{
    margin: 1px;
}
.uName{
    color: black;

}

.time{
    color: grey;
}

.rBottom .icons{
    margin-right: 25px;
}

.like{
    display: flex;
    font-size: 25px;
    cursor: pointer;
}


.like:hover{
    color: blue;
}

.likeCount{
    margin-right: 10px;
    position: relative;
    top: 8.5px;
}

.comment{
    color: grey;
    cursor: pointer;
}

.comment:hover{
    color: blue;
}

.wrapper button{
    padding: 0;
    border: none;
    background: none;
}

.imgCtn{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 500px;
}

.rCenter h3{
    font-size: small;
    display: inline-flex;
    margin: 0;
    height: 10px;
}


