@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper{
    width: 100%;
    background-color: white;
    padding: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: raleway;
    border-radius: 10px;
    
}

.header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon{
    padding: 0;
    border: 0;
}

.wrapper .content .header h2{
    margin: 0;
    padding: 10px;
}

.description{
    display:flex;
    align-items: center;
}

.description .decRight{
    display: flex;
    padding: 10px;
    
}

