.wrapper{
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.wrapper h3{
    margin:3px;
    font-size: medium;
}

.wrapper p{
    margin:3px;
    font-size: medium;
}

.wrapper h5{
    margin: 0;
    font-weight: 100;
}